{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<h2>Login</h2>
	<!--form for company starts-->
	<form action= "../signup" method="post">
	{% csrf_token %}<br>
		
 		
 		<div class="form-group">
			<label for="cusername"> Username</label>
			<input type= "text" name= "username" id="cusername" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="cpassword"> Password</label>
			<input type= "password" name= "password" id="cpassword" class= "form-control"><br>
		</div>

		<div class="form-group">
			<label for="cemail"> Email</label>
			<input type= "email" name= "email" id="cemail" class="form-control"><br>
		</div>

		<div class="form-group">
			<select>

			</select>
		</div>


		<div class="form-group">
			<label for="registration_no"> Registration No.</label>
			<input type= "text" name= "registration_no" id="registration_no" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="website"> Website</label>
			<input type= "url" name= "website" id="website" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="phone_no"> Phone No.</label>
			<input type= "tel" name= "phone_no" id="phone_no" class="form-control"><br>
		</div>




	</form>

<!-- form for company ends here -->



<!-- form for applicant starts here -->

	<form action= "../signup" method="post">
	{% csrf_token %}<br>


		<div class="form-group">
			<label for="username"> Username</label>
			<input type= "text" name= "username" id="username" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="password"> Password</label>
			<input type= "password" name= "password" id="password" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="email"> Email</label>
			<input type= "email" name= "email" id="email" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="date"> DOB</label>
			<input type= "date" name= "date" id="date" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="gender"> Gender</label>
			<input type= "text" name= "gender" id="gender" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="qual"> Broad Qualification</label>
			<input type= "text" name= "qual" id="qual" class="form-control"><br>
		</div>

		<div class="form-group">
			<label for="mobile"> Mobile No.</label>
			<input type= "tel" name= "mobile" id="mobile" class="form-control"><br>
		</div>


		</form>

<!-- form for aplicant ends here -->