{% extends 'base.html' %}

{% block title %}Create jobs{% endblock %}

{% block content %}
<hr>
<h2>Create a new job</h2>
<form action="../jobcreator/" method="post">
{% csrf_token %}	
	<div class="form-group">
		<label for="dept">Department:</label>
		<div class="form-group">
			<select class="form-control" id="dept" name="department" required>
				{% for department in departments %}
				<option>{{department}}</option>
				{% endfor%}	
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="qual">Expected qualification:</label>
		<input type="text" class="form-control" id="qual" name="qualification" required>
	</div>
	<div class="form-group">
		<label for="exp">Required experience in years:</label>	
		<input type="number" class="form-control" name="experience" min="0" required>
	</div>
	<div class="form-group">
		<label for="loc">Location of the job:</label>
		<input type="text" class="form-control" id="loc" name="location" required>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
