{% extends 'base.html' %}

{% block title %}Status{% endblock %}

{% block content %}
<hr>
<h2>Status of your applications</h2>
<h3 class="alert-warning">Sorry! Page under construction</h3>
<ul class="list-group">
    {% for application in user.applications %}
    <li class="list-group-item">
        {{application.company.name}}    <br>
        {{application.department}}      <br>
        {{application.sector}}          <br>
        {{application.status}}
    </li>
    {% endfor %}
</ul>
{% endblock %}
